@font-face {
  font-family:Raleway-Black ;
  src: url(../fonts/Raleway-Black.ttf);
} 
@font-face {
  font-family:Raleway ;
  src: url(../fonts/Raleway-Regular.ttf);
} 
@font-face {
  font-family:Raleway-Bold ;
  src: url(../fonts/Raleway-Bold.ttf);
} 
@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Regular.ttf);
}
@font-face {
  font-family: Lato-Black;
  src: url(../fonts/Lato/Lato-Black.ttf);
}
@font-face {
  font-family: Lato-Bold;
  src: url(../fonts/Lato/Lato-Bold.ttf);
}
@font-face {
  font-family: Lato-italic;
  src: url(../fonts/Lato/Lato-Italic.ttf);
}