html{
    scroll-behavior: smooth;
}
body{
    font-family: var(--font-family-naron);
    font-size: 16px;
    display: grid;
}
.container{
    max-width: var(--container-widht);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}
h1, h2 ,h3, h4{
    font-family: 'Raleway-Bold', sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 800;
    color: var(--color-text-h);
}
a:hover{
    color: rgb(0, 145, 255);
    scale: 1.1;
    transition-duration: var(--transition-duration);
}
hr{
    position:relative;
    background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
    height: 4px;
    width: 70px;
    bottom: 0;
    margin-block: 15px;
    top: 5px;
    left: calc(50% - 35px);
    border: none;
}

