*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration:none ;
    display: inline-block;
}
ul,ol{
    list-style: none;                           /*нормализация кода*/
}
button,input,select,textarea{
    display: inline-block;
    border: none;
    outline: none;
    background: transparent;
}
button,select{
    cursor: pointer;
}